/*html, body {
  background: white;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}*/

canvas {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: -1;
}